
.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    padding-top: 0.45rem;
}

.jumbotron {
    background: url(../img/jumbo_bg.jpg);
    background-size: cover;
}

.btn,
.active {
    transition: .4s;
}

#main-container .list-group a:hover,
#main-container .list-group a:visited,
#main-container .list-group a:active,
#main-container .list-group a:focus {
    text-decoration: none;
}